.tabelaSelect{
    padding : 5.5px;
    font-size: 20px;
}
.tableUsers_wrapper{
    background-color: #ccc;
}
.pesquisa{
    font-size: 20px;
    padding : 6px;
}

#tableUsers_length select{
    width: 60px;
}
.container h1{
    padding: 10=px;
    text-align: center;
}
.add{
    background-color: #343a40;
    color: white;
    padding: 10px;
}
.rem{
    background-color: #dee2e6;
    color: black;
    padding: 10px;
}
.up{
    background-color: #ffffff;
    color: black;
    padding: 10px;
}

.cor{
    background-color: green;
}